.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  background: url(../../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .example-table-container{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 80%;
    min-width: 80%;
    position: relative;
    max-height: 100%;
    overflow: auto;

    .mat-table {
      overflow: scroll;
      /*width: 80%;*/
    }

    .mat-row  .mat-chip-list-wrapper {
      flex-wrap: nowrap;
    }

    .mat-column-location {
      flex: 1 1 100px;
    }

    .mat-column-command {
      flex: 1 1 100px;
    }
  }

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }
}
